.comment-container {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}


.comment-container:nth-of-type(n + 1) {
  margin: 1.5rem 0;
}

.comment-container:first-of-type {
  margin-bottom: 1.5rem;
}

.comment-container .top {
  display: flex;
  justify-content: space-between;
}

.comment-container .top span.username {
  font-weight: 700;
}