.Hero {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.Hero span {
  overflow-wrap: break-word;
}

.Hero > .content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
}

.Hero .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.Hero .left label {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 200px;
}

.Hero .left label:hover {
  cursor: pointer;
}

.Hero .left .prompt {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  transition: opacity .3s;
}

.Hero .left label:hover .prompt {
  visibility: visible;
  opacity: .4;
}

.Hero .left img {
  max-width: 260px;
  max-height: 280px;
}

.Hero .middle {
  display: flex;
  align-items: center;
}

.Hero span.user {
  font-size: 3rem;
  margin: 1.5rem 0;
}

.Hero span.you {
  color: grey;
  text-align: center;
}

@media only screen and (max-width: 760px) {
  .Hero > .content {
    grid-template-columns: 1fr;
  }

  .Hero .left {
    margin: 0;
  }
}