.post-container {
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 15px;
  margin: 1rem 0;
  background-color: white;
}

.post-container:first-of-type {
  margin: 0 0 1rem 0;
}

.post-container .top {
  display: flex;
  justify-content: space-between;
}

.post-container .top span.username {
  font-weight: 700;
}

.post-container h2,
.post-container p,
.post-container .top,
.post-container .bottom {
  padding: 15px;
}

.post-container .bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-container .bottom button {
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: inherit;
}

.post-container .bottom a {
  padding: 10px;
  border-radius: 10px;
  transform: translateY(5%);
}

.post-container .bottom button:hover {
  background-color: rgb(217, 217, 217);
}

.post-container .bottom button:hover img {
  filter: invert(55%) sepia(83%) saturate(6680%) hue-rotate(345deg) brightness(97%) contrast(89%);
}

.post-container .bottom a:hover img {
  filter: invert(57%) sepia(64%) saturate(6403%) hue-rotate(220deg) brightness(99%) contrast(105%);
}

.post-container .bottom a:hover {
  background-color: rgb(217, 217, 217);
}

.post-container .bottom button img,
.post-container .bottom a img {
  width: 30px;
}