.Profile .comments-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;
}

.Profile .comments-container .comments {
  width: 100%;
  margin-inline: auto;
  min-width: 290px;
}