.Welcome {
  color: white;
  height: 100vh;
  background-position: center;
  background-image: linear-gradient(grey, grey), url('/public/images/background/start.webp');
  width: 100%;
  background-blend-mode: multiply;
}

.Welcome .content {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  position: relative;
}

.Welcome .content > button {
  width: 70%;
}

.Welcome form {
  width: 60%;
  min-width: 40vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 0;
}

.Welcome form button {
  width: 40%;
  justify-self: center;
  background-color: rgb(162, 255, 162);
  grid-column: span 2;
}

.Welcome form button:hover {
  background-color: rgb(206, 255, 206);
}

.Welcome form .input {
  display: flex;
  flex-direction: column;
  margin: 0 10px 15px 10px;
  grid-column: 1 / 3;
}

.Welcome form div.input.password-register {
  grid-column: span 1;
}

.Welcome .toggle {
  --width: 250px;
  --height: calc(var(--width) / 6);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.Welcome .toggle .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: inherit;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 15px;
}

.Welcome .toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #4d4d4d;
  background-color: #82c6f6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.Welcome .toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(var(--width) * -1);
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #4fe132;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.Welcome .toggle input:checked ~ .labels::after {
  transform: translateX(var(--width));
}

.Welcome .toggle input:checked ~ .labels::before {
  transform: translateX(var(--width));
}

@media only screen and (max-width: 760px) {
  .Welcome form div.input.password-register {
    grid-column: span 2;
  }
}