.Welcome {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

.Welcome > button {
  width: 70%;
}

.Welcome form {
  width: 60%;
  min-width: 40vh;
  display: grid;
  margin: 20px 0;
}

.Welcome form button {
  width: 40%;
  justify-self: center;
  background-color: rgb(162, 255, 162);
}

.Welcome form button:hover {
  background-color: rgb(206, 255, 206);
}

.Welcome form .input {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}